<!--<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <configurator type="Hackathon.SocialWall.Feature.FetchSocialFeeds.Pipelines.RegisterSocialFeedsService, Hackathon.SocialWall.Feature.FetchSocialFeeds" />
        </services>
    </sitecore>
</configuration>-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <ioc>
                <processor type="Hackathon.SocialWall.Feature.FetchSocialFeeds.Pipelines.RegisterSocialFeedsService, Hackathon.SocialWall.Feature.FetchSocialFeeds" />
            </ioc>
        </pipelines>
    </sitecore>
</configuration>